
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e66665;
  color: #fff;
  width: 40vw;
  height: 70vh;
  
}
.main h1{
  font-size:4em;
}
.main img{
  height: 10%;
}